<!DOCTYPE html>
<html>
  <head>
  <% include partials/pages/head.ejs %>
  </head>
  <body>
    <% include partials/pages/navBar.ejs%>
    <br></br>
    <br></br>
    <ul>
      <% for (var i =0; i<users.length; i++){%>
      <li><%= users[i] %></li>
      <% } %>
    </ul>
    
    <% include partials/pages/botstrap.ejs %>
  </body>
</html>
