<!DOCTYPE html>
<html>
  <head>
  <% include partials/pages/head.ejs %>
  </head>
  
  
   <script>
         
         var form = 0;
            
         
         function loadForm(){
             form = 1;
         }
         
         
     </script>
  
  <body>
    <div class="container">
    <% include partials/pages/navBar.ejs%>
    <br></br>
    <br></br>
    <p class="lead">
      <%include partials/pages/pronatecForm.ejs%>
    </p>
    </div>
      <% include partials/pages/botstrap.ejs %>
      <%include partials/pages/footer.ejs%>
  </body>
</html>
